body{
	max-height: 600px;
	min-width: 450px;
	max-width: 600px;	
	background: #d3d3d3;
	overflow-y: scroll;
	clear:both;
}

#stripe{
	border: 1px solid #F3D5D4;
	text-align: left;
	padding-bottom: 3px;
	margin-bottom: 10px;
	font-family: 'Lato';
	background: #3a3a3a;
	height: 20%;
	width: 100%;
}
h4{
	font-size: 17px;
	margin-bottom: 0px;
	margin-left: 10px
}
.headerText{
	font-weight: normal;
	letter-spacing: 1px;
	color: white;
	margin-left: 15px;
}
#myDetails{
	max-height: 500px;
}
#ulDetails{
	background: #d3d3d3;
	height: 50%;
	clear: both;
	width: 95%;
}

#detailsEnter{
	background: #d3d3d3;
	width: 100%;
	height: 20px;
	padding-left: 15px;

}
.enter{
	width: 145px;
	height: 30px;
	text-align: center;
	margin-left: 20px;
	background: #f2efef;
	box-sizing: border-box;
	color: #2980b9;
}
#add{
	margin-left: 15px;
	height: 30px;
	border: 1px solid #F3D5D4;
	background: #8e9e9e;
	color: black;
}
ul{
	margin-top: 10px;
	margin-left: 15px;
	min-height: 50px;
	width: 98%;
	height: 100%;
	padding-right: 2px;
	padding-top: 5px;
	box-shadow: 0 0 7px rgba(0,0,0,0.2);
	display:inline-block;
	background: #f2efef;
	
}
li{
	width: 100%;
	list-style: none;
	margin-bottom: 2px;
	color: black;
	float: left;	
}

.name{
	min-width: 70px;
	width: 30%;
	margin-left: 5px;	
	padding-right: 10px;
	float: left;	
	text-align: left;
}
.value{
	width: 150px;
	margin-right: 20px;
	padding-right: 10px;
	padding-top: 3px;
	text-align: left;
}

#btngrps{
	text-align: center;

}

.btns{
	background-color: transparent;
	letter-spacing: 2px;
}
#btnsRow{
	background: #8e9e9e;
	color: black;
}

.editMode{
	width: 115px;
	height: 20px;
	text-align: center;
}
input:focus{
	background: white;
	border: 1px solid #8e9e9e;
	outline: none;
}
.btns:focus {
	outline:none;
}
